.container-movie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.link-details {
  color: black;
  text-decoration: none;
}

.link-details:hover {
  color: black;
}

.details {
  text-align: left;
  margin-left: 2rem;
}

button {
  background-color: black;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 0.2rem 1rem;
}
